# Ignore Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folder
venv/

# Ignore local settings and IDE files
.env
*.sqlite3
*.db
*.log
.idea/
.vscode/
